<header class="header border-bottom">
  <nav
    aria-label="Eighth navbar example"
    class="navbar navbar-expand-lg navbar navbar-expand navbar-light"
  >
    <div class="container">
      <a class="navbar-brand" href="#">Logo</a>
      <div class="d-flex align-items-center">
        <a class="d-flex align-items-center" href="tel:07216601850"
          ><img src="assets/img/phone-icon.png" class="me-2 img-fluid" /><span
            class="d-none d-md-block"
            >0721 660-1850</span
          ></a
        ><button
          type="submit"
          class="ms-1 ms-md-3 px-3 btn btn-primary btn btn-primary"
        >
          Meinen Preis berechnen
        </button>
      </div>
    </div>
  </nav>
</header>
