<footer class="section4">
  <div class="container">
    <div class="row">
      <div class="text-center mb-4 col-md-12">
        <h2>Kostet nicht die Welt. Aber schützt Deine.</h2>
      </div>
      <div class="text-center col-md-6">
        <h4 class="mb-3">
          Woran Du vielleicht denkst<br /><small>(kleine Schäden)</small>
        </h4>
        <img src="assets/img/icon-4.png" class="img-fluid" />
        <h4 class="mt-3">Abgesichert!</h4>
      </div>
      <div class="text-center col-md-6">
        <h4 class="mb-3">
          Woran Du vielleicht nicht denkst<br /><small>(große Schäden)</small>
        </h4>
        <img src="assets/img/icon-5.png" class="img-fluid" />
        <h4 class="mt-3">Auch abgesichert!</h4>
      </div>
    </div>
    <div
      class="bottom-area mt-4 d-flex align-items-center justify-content-center"
    >
      <h4 class="mb-0">Unsere Kunden zahlen im Schnitt:</h4>
      <h2 class="mx-5 mb-0 text-center">
        4,14 €<br /><small>pro Monat</small>
      </h2>
      <button type="submit" class="px-3 btn btn-primary btn btn-primary">
        Meinen Preis berechnen
      </button>
    </div>
    <div class="sticky-btn custom-sticky">
      <button
        *ngIf="buttonFlag"
        type="submit"
        class="px-3 btn btn-primary btn btn-primary"
      >
        Meinen Preis berechnen
      </button>
    </div>
  </div>
</footer>
